<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <runtime>
        <gcAllowVeryLargeObjects enabled="true" />
    </runtime>
    <system.web>
        <httpRuntime maxRequestLength="2097151" executionTimeout="999"></httpRuntime>
      <compilation debug="true" targetFramework="4.0" />
        <!--<customErrors mode="Off"></customErrors>-->
    </system.web>
    <appSettings>
        <!--主要連線字串-->
        <add key="DSN.charity" value="Data Source=SQL2K5T,5555;User ID=pubusagelog;Password=C59dCB4Rmd5G;Initial Catalog=usagelog"/>
        <!--<add key="DSN.charity" value="Data Source=140.96.147.18;User ID=newsftsdb;Password=newsftsp#%ass;Initial Catalog=Gsearch"/>-->
        <!--主要連線字串-->
        <add key="IPreference" value="Data Source=ITRIDPO,2800;User ID=pubusagelog;Password=C59dCB4Rmd5G;Initial Catalog=PCINFO"/>
        <!--要丟要上線區要改成add key="DEBUG" value="false"-->
        <add key="DEBUG" value="false"/>
        <add key="DEBUG.ACCOUNT" value="529130"/>
    </appSettings>
</configuration>
